@media screen and (max-width: 600px) {
    header {
        display: flex;
        flex-flow: column;
    }

    div.h2 {
        display: flex;
        flex-flow: column;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    div.h2 {
        display: flex;
        flex-flow: column;
    }
}

