@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: lightgray;
}

:root {
    --cor-preta: #000000;
    --cor-subtitulo: #0000FF;
    --cor-branca: #fff;
    --cabecalho-e-gostou: rgb(88, 88, 88);
    --gradient-subt: lightgray, white;
    --fonteprincipal: 'Anton', 'sans-serif';
    --fonte-subtitulo: 'Poppins', 'sans-serif';
    --fonte-paragrafo: 'Roboto', 'sans-serif';
}

header {
    display: flex;
    flex-flow: row wrap;
    height: 150px;
    background-color: var(--cabecalho-e-gostou);
    justify-content: space-around;
    align-items: center;
}

header > h1 {
    background-color: var(--cor-preta);
    color: var(--cor-branca);
    font-family: var(--fonteprincipal);
    font-weight: normal;
    font-size: 40px;
    padding: 15px;
    border-radius: 8px;
}

nav {
    display: flex;
    flex-flow: row;
    gap: 10px;
}

nav > a , aside > ul > li > a {
    background-color: var(--cor-preta);
    color: var(--cor-branca);
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
}

nav > a:hover, aside > ul > li > a:hover {
    background-color: rgb(145, 145, 145);
    color: var(--cor-preta);
    transition: .3s;
}

main, aside {
    background-color: var(--cor-branca);
    padding: 3px;
    min-width: 300px;
    max-width: 1000px;
    line-height: 2em;
    margin: auto;
    text-align: justify;
}

img {
    max-width: 300px;
}

h2 {
    font-family: var(--fonte-subtitulo);
    font-weight: 600;
    margin: 20px 0px 20px 10px;
    background-image: linear-gradient(to right, rgb(156, 156, 156), white);
}

p , li > p {
    font-family: var(--fonte-paragrafo);
    text-indent: 20px;
    margin: 15px;
}

ul > li {
    list-style-type: none;
}

h3 {
    font-family: var(--fonte-subtitulo);
    font-weight: 600;
    margin: 20px 0px 20px 10px;
}

div.grid-flex {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    align-items: center;
}

div.grid-flex > p {
    grid-area: 1 / 1 / 3 / 2;
}

div.grid-flex > img {
    grid-area: 1 / 2 / 3 / 3;
    padding: 10px;
}

aside {
    border-radius: 0px 0px 10px 10px;
}

aside > h3 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: var(--cor-preta);
    border-radius: 10px 10px 0px 0px;
    padding: 0;
}

aside > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 10px;
}

footer {
    background-color: var(--cor-preta);
    color: var(--cor-branca);
    text-align: center;
    padding: 10px;
}

footer a {
    color: var(--cor-branca);

}

p.cc, p.cc > a {
    font-size: 14px;
    color: black;
}

@media screen and (max-width: 600px) {
    header {
        display: flex;
        flex-flow: column;
    }

    div.grid-flex {
        display: flex;
        flex-flow: column;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    div.grid-flex {
        display: flex;
        flex-flow: column;
    }
}

